body {
  font-family: Arial, sans-serif;
  background-color: #0b0b0b;
  color: #ffffff;
  text-align: center;
  padding: 40px;
}

.box {
  background-color: #1c1c1c;
  border-radius: 12px;
  padding: 25px;
  max-width: 400px;
  margin: auto;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  color: #00ff99;
}

//penambahan
.progress {
  width: 100%;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
}

.progress-bar {
  height: 20px;
  width: 96%;
  background: linear-gradient(90deg, #00ff99, #00ccff);
  transition: width 0.5s ease;
}

.rtp-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 14px;
}

.rtp-table th,
.rtp-table td {
  border: 1px solid #333;
  padding: 8px;
}

.rtp-table th {
  background-color: #222;
}

.rtp-table tr:nth-child(even) {
  background-color: #1a1a1a;
}

